.aboutCon{
    margin-top: 40px;
    align-items: center;
    padding: 2em 5em 2px 5em;
}
/* .aboutimg{
    padding: 30px;
} */
/* @media screen and (max-width: 768px) {
    .aboutimg{
        padding: 0px;
    }
} */