.Main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  margin: auto;
  width: 100%;
  text-align: center;
}

.container {
  margin-top: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.image-container {
  width: 32%; /* Adjust width for smaller screens */
  margin: 5px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.image-container:nth-child(2n + 1) {
  margin-left: 0;
}

.image-container:nth-child(2n) {
  margin-right: 5px;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .Main-container {
    width: 100%; /* Full width on smaller screens */
  }

  .image-container {
    width: 100%; /* Full width for single column on smaller screens */
    margin-right: 0;
    margin-left: 0;
  }
}

.slideshow-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.slideshow-content {
  position: relative;
  max-width: 80%;
  text-align: center;  /* Limit the width of the slideshow content */
}

/* ... (your existing styles) */

  
  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 15px;
  }
  
  .next-btn {
    right: 15px;
  }
  
  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
  
  .slideshow-content img {
    max-width: 100%; /* Ensure the image doesn't exceed the width of the modal */
    max-height: 80vh; /* Limit the height to 80% of the viewport height */
    border-radius: 8px; /* Apply rounded corners to the image */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add a subtle shadow for depth */
  }
  
  