/* .card-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: auto;
  height: 50%;
}

.carouselTitleContainer{
  text-align: left;
  margin-top: 20px;
}

.slides {
   margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  padding: 10px;
}

.carousel-item h1{
  margin: 20px;
} 

 .CarouselContainer1 {
  width: 80%;
  height: 100%;
}

.CarouselItem1 img {
  width: 100%;
  height: 100%;
} */
/* cardsTem.css */

.card-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: auto;
  height: 50%;
}

.carouselTitleContainer {
  text-align: left;
  margin-top: 20px;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  padding: 10px;
}

.carousel-item img {
  max-width: 80%; /* Set maximum width to ensure responsiveness */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image horizontally */
}

.carousel-item h1 {
  margin: 20px;
}
