body{
    background-color: #E9E7E2;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2D3250;
    width: 100%;
    height: 150px;
}

.logoImg {
    width: 150px;
    height: 150px;
    padding: 20px;
}

.logo-text {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    padding: 20px;
}

.logo-text h1 {
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    font-size: 2.8vw;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.subtitle {
    text-align: center;
}

.subtitle h3{
    font-size: 0.75em;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.back_butt{
    margin-left: auto; /* Pushes the button to the right */
    padding-right: 20px;
}

.register-container {
    padding-right: 40px;
    display: flex;
    width: 60%;
    margin: 0 auto;
    /* border: 1px solid black; */
    background-color: #D4C49E;
    justify-content: space-between;
    position: absolute;
    top: 80%; /* Move container 50% down from the top */
    left: 50%; /* Move container 50% from the left */
    transform: translate(-50%, -50%); /* Center the container */
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 23vw;
}

.reg_img{
    width: 400px;
    height: 500px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}


.form-group {
    position: relative;
    margin-bottom: 10px;
}

label {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 16px;
    color: #666;
    transition: all 0.3s ease;
    pointer-events: none;
}

h2{
    font-family: 'Bernard MT Condensed';
    font-weight: 600;
    padding-top: 20px;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    /* padding-top: 25px; */
    transition: border-color 0.3s ease;
}

button {
    background-color: #a88d4c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.regi_butt{
    font-size: larger;
    font-weight: bold;
}

button:hover {
    background-color: #574416;
}


input:focus,
input:not(:placeholder-shown) {
    border-color: #007bff;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -7px;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

input:focus::placeholder,
input::placeholder{
    color: transparent;
    opacity: 0;
}