/* Whole Page */
.wholepage {
    margin: 20px auto; /* Center the content */
    max-width: 1200px; /* Set maximum width */
    padding: 0 20px; /* Add padding */
  }
  
  /* Each Alumni */
  .eachalumni {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Align items vertically */
    margin: 50px 0; /* Adjusted margin */
  }
  
  /* Each Image */
  .eachImage {
    width: 30%; /* Adjusted width */
  }
  
  .eachImage img {
    width: 100%;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  
  /* Details */
  .Details {
    width: 60%; /* Adjusted width */
  }
  
  .Details p {
    text-align: justify;
  }

  .ocup {
    color: #656DA4;
    font-weight: bold;
  }
  
  /* Line */
  .line {
    font-size: 16px; /* Adjusted font size */
    text-align: center;
    margin: 40px 0; /* Adjusted margin */
    color: #999; /* Light gray color */
  }
  
  @media screen and (max-width: 800px) {
    /* Adjustments for smaller screens */
    .eachalumni {
      flex-direction: column;
      align-items: center;
    }
  
    .eachImage,
    .Details {
      width: 100%;
      margin-bottom: 30px; /* Adjusted margin */
    }
  }
  